In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver=webdriver.Chrome(r'C:\\Users\\Harshit Reddy\\Downloads\\chromedriver_win32\\chromedriver.exe')

1.Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [59]:
url='https://www.naukri.com/'
driver.get(url)

In [60]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [61]:
search_job.send_keys('Data Analyst')

In [62]:
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc

In [63]:
search_loc.send_keys('Bangalore')

In [64]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

In [69]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles[0:10]

['Data Analyst - Quant & Data Mining',
 'Marketing Technology Data Analyst',
 'Process Data Analyst',
 'Data Analyst (Contractual)',
 'Data Analyst (Contractual)',
 'Data Analyst - Category Demand Management (Revenue & Growth)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Revenue & Growth',
 'ACO Data Analyst Call Rina']

In [70]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

['Catalyst',
 'WeGo',
 'Hitachi ABB Power Grids',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'Myntra Designs Pvt. Ltd.',
 'Novel Office',
 'Near Pte. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'White Horse Manpower Consultancy Private Limited']

In [71]:
experience_tags=driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')

In [72]:
experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience=[]
for i in experience_tags:
    experience.append(i.text)
experience[0:10]

['2-6 Yrs',
 '2-4 Yrs',
 '2-6 Yrs',
 '1-4 Yrs',
 '1-4 Yrs',
 '1-4 Yrs',
 '0-3 Yrs',
 '2-5 Yrs',
 '2-3 Yrs',
 '2-4 Yrs']

In [73]:
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
locations=[]
for i in location_tags:
    locations.append(i.text)
locations[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [74]:
jobs=pd.DataFrame()
jobs['title_tags']=job_titles[0:10]
jobs['company_tags']=company_names[0:10]
jobs['experience_tags']=experience[0:10]
jobs['location_tags']=locations[0:10]

In [75]:
jobs

,title_tags,company_tags,experience_tags,location_tags
0,Data Analyst - Quant & Data Mining,Catalyst,2-6 Yrs,Bangalore/Bengaluru
1,Marketing Technology Data Analyst,WeGo,2-4 Yrs,Bangalore/Bengaluru
2,Process Data Analyst,Hitachi ABB Power Grids,2-6 Yrs,Bangalore/Bengaluru
3,Data Analyst (Contractual),Flipkart Internet Private Limited,1-4 Yrs,Bangalore/Bengaluru(Bellandur)
4,Data Analyst (Contractual),Flipkart Internet Private Limited,1-4 Yrs,Bangalore/Bengaluru(Bellandur)
5,Data Analyst - Category Demand Management (Rev...,Myntra Designs Pvt. Ltd.,1-4 Yrs,Bangalore/Bengaluru
6,Data Analyst,Novel Office,0-3 Yrs,Bangalore/Bengaluru
7,Data Analyst,Near Pte. Ltd.,2-5 Yrs,Bangalore/Bengaluru
8,Data Analyst - Revenue & Growth,Myntra Designs Pvt. Ltd.,2-3 Yrs,Bangalore/Bengaluru
9,ACO Data Analyst Call Rina,White Horse Manpower Consultancy Private Limited,2-4 Yrs,Bangalore/Bengaluru

2.Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [89]:
url='https://www.naukri.com/'
driver.get(url)

In [90]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [91]:
search_job.send_keys('Data Scientist')

In [92]:
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc

In [93]:
search_loc.send_keys('Bangalore')

In [94]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

In [99]:
Job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags=[]
for i in Job_title:
    title_tags.append(i.text)
title_tags[0:10]

['Data Scientist - Python/ SQL',
 'Data Scientist',
 'Data Scientist - Python/r',
 'Data Scientist',
 'Data Scientist - Machine Learning',
 'Data Scientist - Machine Learning',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Optimus ( RL/ DL)',
 'Data Scientist']

In [100]:
Company_names=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags=[]
for i in Company_names:
    company_tags.append(i.text)
company_tags[0:10]

['Catalyst',
 'Catalyst',
 'Catalyst',
 'Bion',
 'Catalyst',
 'AugmatrixGo',
 'Talent Corner HR Services Pvt Ltd',
 'Simplify360',
 'Bert Labs',
 'Applied Materials']

In [101]:
Job_location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
location_tags=[]
for i in Job_location:
    location_tags.append(i.text)
location_tags[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [102]:
Job_description=driver.find_elements_by_xpath('//div[@class="job-description fs12 grey-text"]')
job_desc=[]
for i in Job_description:
    job_desc.append(i.text)
job_desc

['Being the first data scientist of the company, you shall be responsible for building ro...',
 'Responsibilities Collaborate with product and business teams to understand all aspects ...',
 'Comfortable writing code and contributing to a code base in Python or R. - Proficient i...',
 'Responsibilities Collaborate with product and business teams to understand all aspects ...',
 'Roles and Responsibilities- Implement data-driven solutions based on advanced ML and op...',
 'BTech / MTech degree in from reputed institutes like IIT / NIT / BITSSkills Required : ...',
 'Must have min 2 to 5 years of expertise in machine learning algorithms, predictive anal...',
 'Should have understanding of model deploymentExperience with common data science toolki...',
 'Experience: BTech / MTech/MS / PhD in CS / ECE/Statistics or other relevant field from ...',
 'Education: Bachelors Degree analyzes possible solutions using technical experience and ...',
 'IITs, IISc, BITS, IIITs and global ranked Univs) with goodBasic Qualifications: Bachelo...',
 'The candidate should have relevant experience in Python, R, Machine Learning, NLP, Deep...',
 'Bachelor s degree in a quantitative discipline (e.g., Statistics, Economics, Mathematic...',
 'Graduate level math and statistics knowledge is preferred Good Python programmers with ...',
 'Roles and Responsibilities Formulates and leads guided, multifaceted analytic studies a...',
 'Bachelors / Masters equivalent in any Quantitative disciplines (Science, Technology, En...',
 'Roles and Responsibilities We are looking for data scientists to support market trading...',
 "WHAT WE NEED Ph.D. or Masters or Bachelor's in computer science, Electrical / Computer ...",
 'Masters degree in a quantitative discipline (Mathematics, Statistics, Computer Science,...',
 'Job descriptionLooking for immediate joiners.Responsibilities:Devise innovative solutio...']

In [103]:
jobs=pd.DataFrame()
jobs['Job_title']=title_tags[0:10]
jobs['Company_names']=company_tags[0:10]
jobs['Job_location']=location_tags[0:10]
jobs['Job_description']=job_desc[0:10]

In [104]:
jobs

,Job_title,Company_names,Job_location,Job_description
0,Data Scientist - Python/ SQL,Catalyst,Bangalore/Bengaluru,"Being the first data scientist of the company,..."
1,Data Scientist,Catalyst,Bangalore/Bengaluru,Responsibilities Collaborate with product and ...
2,Data Scientist - Python/r,Catalyst,Bangalore/Bengaluru,Comfortable writing code and contributing to a...
3,Data Scientist,Bion,Bangalore/Bengaluru,Responsibilities Collaborate with product and ...
4,Data Scientist - Machine Learning,Catalyst,Bangalore/Bengaluru,Roles and Responsibilities- Implement data-dri...
5,Data Scientist - Machine Learning,AugmatrixGo,Bangalore/Bengaluru,BTech / MTech degree in from reputed institute...
6,Data Scientist,Talent Corner HR Services Pvt Ltd,Bangalore/Bengaluru,Must have min 2 to 5 years of expertise in mac...
7,Data Scientist,Simplify360,Bangalore/Bengaluru,Should have understanding of model deploymentE...
8,Data Scientist - Optimus ( RL/ DL),Bert Labs,Bangalore/Bengaluru,Experience: BTech / MTech/MS / PhD in CS / ECE...
9,Data Scientist,Applied Materials,Bangalore/Bengaluru,Education: Bachelors Degree analyzes possible ...

3. In this question you have to scrape data using the filters available on the 
webpage as shown below. You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.

In [3]:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [5]:
search_job.send_keys('Data Scientist')

In [10]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

In [11]:
Job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags=[]
for i in Job_title:
    title_tags.append(i.text)
title_tags[0:10]

['Data Scientist',
 'Data Scientist',
 'Data Scientist - Python/ SQL',
 'Data Scientist Machine Learning',
 'Data Scientist Operational Research',
 'Data Scientist',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Business Analyst- Data Scientist']

In [12]:
Company_names=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags=[]
for i in Company_names:
    company_tags.append(i.text)
company_tags[0:10]

['itForte Staffing Services Private Ltd.',
 'Msg.ai',
 'Schlesinger Group',
 'Delhivery',
 'Delhivery',
 'Ank Aha Private Limited',
 'Blow Trumpet Solutions',
 'Dewi',
 'Blitz Jobs',
 'Wipro']

In [13]:
Job_location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
location_tags=[]
for i in Job_location:
    location_tags.append(i.text)
location_tags[0:10]

['Gurgaon',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Delhi',
 'New Delhi',
 'Gurgaon/Gurugram',
 'Noida',
 'Noida, Gurgaon/Gurugram']

In [17]:
Experience=driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')

In [18]:
Experience=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience_tags=[]
for i in Experience:
    experience_tags.append(i.text)
experience_tags[0:10]

['3-8 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '1-3 Yrs',
 '2-7 Yrs',
 '1-5 Yrs',
 '2-7 Yrs',
 '3-5 Yrs',
 '2-5 Yrs']

In [19]:
Jobs=pd.DataFrame()
Jobs['Job_title']=title_tags[0:10]
Jobs['Company_names']=company_tags[0:10]
Jobs['Job_location']=location_tags[0:10]
Jobs['Experience']=experience_tags[0:10]

In [20]:
Jobs

,Job_title,Company_names,Job_location,Experience
0,Data Scientist,itForte Staffing Services Private Ltd.,Gurgaon,3-8 Yrs
1,Data Scientist,Msg.ai,Gurgaon/Gurugram,3-5 Yrs
2,Data Scientist - Python/ SQL,Schlesinger Group,"Noida, Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
3,Data Scientist Machine Learning,Delhivery,Gurgaon/Gurugram,1-3 Yrs
4,Data Scientist Operational Research,Delhivery,Gurgaon/Gurugram,1-3 Yrs
5,Data Scientist,Ank Aha Private Limited,Delhi,2-7 Yrs
6,Associate Data Scientist,Blow Trumpet Solutions,New Delhi,1-5 Yrs
7,Data Scientist,Dewi,Gurgaon/Gurugram,2-7 Yrs
8,Data Scientist,Blitz Jobs,Noida,3-5 Yrs
9,Business Analyst- Data Scientist,Wipro,"Noida, Gurgaon/Gurugram",2-5 Yrs

4.Write a python program to scrape data for first 10 job results for Data scientist 
Designation in Noida location. You have to scrape company_name, No. of days 
ago when job was posted, Rating of the company.

In [3]:
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [61]:
search_job=driver.find_element_by_id('KeywordSearch')
search_job

In [62]:
search_job.send_keys('Data Scientist')

In [63]:
search_loc=driver.find_element_by_id('LocationSearch')
search_loc

In [66]:
search_loc.send_keys('Noida')

In [67]:
search_btn=driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]')
search_btn.click()

In [26]:
Company_names=driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]')
company_name=[]
for i in Company_names:
    company_name.append(i.text)
company_name[0:10]

['NatWest Group',
 'Crowe',
 'Amploy',
 'Biz2Credit Inc',
 'Mogli Labs India Private Limited',
 'Techlive',
 'CRMNEXT',
 'WishFin',
 'Unofin Technology LLP',
 'Jubna']

In [40]:
No_of_days_ago=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')
No_of_days_ago

[<selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="a839c176-5367-4505-b8f0-2d69734e3b9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="92ff696a-ec32-4417-975a-0648a85ae6c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="436dfbaa-42ae-4f27-9d7f-2e64eb4b9ff5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="f311adae-2b99-4fba-82a0-24fce59d086e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="06a15508-559f-402c-9b84-e33f0c9d3c72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="75dc98ca-2464-4d1a-be2d-0421af9e5fe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="81fa1998-fa48-4a31-927b-02d60d7e1ba8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="0ada7097-3b31-4691-be50-981232e9d43c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="c6879782-7dd8-40fe-b594-5affe0d88726")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="11f30fea-af59-4140-b4a0-eb6fe2b574fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="793de21b-b53b-4814-a248-9518011f9e7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="6880c645-78cd-4809-a284-2295ecbc72fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="07a35ae3-c2cd-4c95-99ed-a8de5b368a2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="e7c06d30-349a-4bc9-a780-cbbcd621df30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="7940970d-745a-49cc-b224-ec318fd0a37f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="3f6130e9-fd5a-4efa-9f99-906ce9fdf8f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="f92d3c2a-2105-4d6c-a864-bc91f932beb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="34a036db-eb0a-4ecc-9c20-fa4bc7f19205")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="1d533a98-b868-4263-926f-592210e3a2cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="a1d297d0-38c6-43a0-98b9-738224e9def6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="8ccea5eb-f5b3-4189-8d2d-3394f7d26b19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="ed799c0a-2f9e-418a-977b-366349de9465")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="4c5fd8bd-6827-47be-abbb-9c9989c2ead8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="f066924c-a748-486c-9778-9afa9a8e8d95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="7c2dbbe2-37cc-46e8-a3f3-d09999ca221d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="82a1ae5b-470b-47ff-ae19-e93b5661ee5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="0b64be8d-572c-44c6-b997-fa495684a493")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="3a20cc2f-2619-4418-adb9-73cfd8c13a69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="281f05a2-55a5-409d-8529-c6d514d47b98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1ed2277586c031f6f9b1b538211955d4", element="d871e62b-84b0-4026-a5bc-ce02cc7b28b9")>]

In [45]:
no_of_days=[]
for i in No_of_days_ago:
    no_of_days.append(i.text)
no_of_days[0:10]

['24h', '6d', '4d', '30d+', '4d', '30d+', '30d+', '30d+', '24h', '6d']

In [69]:
Rating=driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]')
rating=[]
for i in Rating:
    rating.append(i.text)
rating[0:10]

['3.9', '3.7', '3.7', '5.0', '4.0', '3.7', '3.8', '4.0', '4.0', '3.8']

In [70]:
Job=pd.DataFrame()
Job['Company_name']=company_name[0:10]
Job['No_of_days_ago']=no_of_days[0:10]
Job['Rating']=rating[0:10]
Job

                       Company_name No_of_days_ago Rating
0                     NatWest Group            24h    3.9
1                             Crowe             6d    3.7
2                            Amploy             4d    3.7
3                    Biz2Credit Inc           30d+    5.0
4  Mogli Labs India Private Limited             4d    4.0
5                          Techlive           30d+    3.7
6                           CRMNEXT           30d+    3.8
7                           WishFin           30d+    4.0
8             Unofin Technology LLP            24h    4.0
9                             Jubna             6d    3.8

5. Write a python program to scrape the salary data for Data Scientist designation 
in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.

In [74]:
driver=webdriver.Chrome(r'C:\\Users\\Harshit Reddy\\Downloads\\chromedriver_win32\\chromedriver.exe')

In [3]:
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [4]:
search_job=driver.find_element_by_id('KeywordSearch')
search_job

In [5]:
search_job.send_keys('Data Scientist')

In [12]:
search_loc=driver.find_element_by_id('LocationSearch')
search_loc

In [13]:
search_loc.send_keys('Noida')

In [14]:
search_btn=driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]')
search_btn.click()

In [23]:
Company_name=driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')
company_tags=[]
for i in Company_name:
    company_tags.append(i.text)
company_tags[0:10]

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Optum Global Solutions',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service']

In [26]:
Rating=driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')
rating=[]
for i in Rating:
    rating.append(i.text)
rating[0:10]

['3.9', '3.9', '4', '4', '3.8', '3.6', '3.9', '4.1', '4', '3.6']

In [40]:
Average_salary=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]/h3')
average_salary=[]
for i in Average_salary:
    average_salary.append(i.text)
average_salary[0:10]

['₹ 6,14,306',
 '₹ 9,00,000',
 '₹ 11,46,533',
 '₹ 7,38,057',
 '₹ 12,39,781',
 '₹ 13,36,142',
 '₹ 13,26,575',
 '₹ 8,15,192',
 '₹ 11,35,221',
 '₹ 11,44,243']

In [53]:
Min_Max_salary=driver.find_elements_by_xpath('//span[@class="d-block d-lg-none m-0 css-1b6bxoo"]')
salary=[]
for i in Min_Max_salary:
         salary.append(i.text)
salary[0:10]

['Range: ₹343K - ₹1,250K',
 'Range: ₹586K - ₹2,730K',
 'Range: ₹577K - ₹2,213K',
 'Range: ₹355K - ₹1,613K',
 'Range: ₹450K - ₹11,622K',
 'Range: ₹1,069K - ₹1,520K',
 'Range: ₹350K - ₹2,149K',
 'Range: ₹502K - ₹1,465K',
 'Range: ₹202K - ₹1,809K',
 'Range: ₹575K - ₹1,520K']

In [30]:
Number_of_salaries=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-auto"]')
number=[]
for i in Number_of_salaries:
    number.append(i.text)
number[0:10]

['17 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '14 salaries',
 '11 salaries',
 '9 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries']

In [54]:
Glassdoor=pd.DataFrame()
Glassdoor['Company_name']=company_tags[0:10]
Glassdoor['Average_salary']=average_salary[0:10]
Glassdoor['Min_Max_salary']=salary[0:10]
Glassdoor['Number_of_salaries']=number[0:10]
Glassdoor['rating']=rating[0:10]
Glassdoor

,Company_name,Average_salary,Min_Max_salary,Number_of_salaries,rating
0,Tata Consultancy Services,"₹ 6,14,306","Range: ₹343K - ₹1,250K",17 salaries,3.9
1,IBM,"₹ 9,00,000","Range: ₹586K - ₹2,730K",15 salaries,3.9
2,Accenture,"₹ 11,46,533","Range: ₹577K - ₹2,213K",14 salaries,4
3,Ericsson-Worldwide,"₹ 7,38,057","Range: ₹355K - ₹1,613K",14 salaries,4
4,Delhivery,"₹ 12,39,781","Range: ₹450K - ₹11,622K",14 salaries,3.8
5,UnitedHealth Group,"₹ 13,36,142","Range: ₹1,069K - ₹1,520K",11 salaries,3.6
6,Optum Global Solutions,"₹ 13,26,575","Range: ₹350K - ₹2,149K",9 salaries,3.9
7,Valiance Solutions,"₹ 8,15,192","Range: ₹502K - ₹1,465K",9 salaries,4.1
8,ZS Associates,"₹ 11,35,221","Range: ₹202K - ₹1,809K",8 salaries,4
9,EXL Service,"₹ 11,44,243","Range: ₹575K - ₹1,520K",8 salaries,3.6

6. Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes: 1.Brand, 2.Product Description, 3.Price, 4.Discount %

In [3]:
from selenium.common.exceptions import NoSuchElementException
import time

In [4]:
url='https://www.flipkart.com/'
driver.get(url)

In [5]:
search_product=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_product.send_keys('Sunglasses')

In [6]:
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [9]:
flip_pages=[]
for page in range(1, 4, 1):
    
    page_url = "https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=" + str(page)
    driver.get(page_url)
    flip_pages.append(page_url)
flip_pages

urls=[]
for u in flip_pages:
    for i in driver.find_elements_by_xpath("//a[@class='_2UzuFa']"):
        try:
            urls.append(i.get_attribute('href'))
        except NoSuchElementException:
            urls.append('-')
    
len(urls)

Brand=[]
Product_description=[]
Price=[]
Discount=[]

for i in urls[:100]:
    driver.get(i)
    time.sleep(3)
    
    try:
        product_tag=driver.find_element_by_xpath("//span[@class='G6XhRU']")
        Brand.append(product_tag.text)
    except NoSuchElementException:
        Brand.append('-')
        
    try:
        desc_tag=driver.find_element_by_xpath("//span[@class='B_NuCI']")
        Product_description.append(desc_tag.text)
    except NoSuchElementException:
        Product_description.append('-')
        
    try:
        price_tag=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        Price.append(price_tag.text)
    except NoSuchElementException:
        Price.append('-')
        
    try:
        discount_tag=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        Discount.append(discount_tag.text)
    except NoSuchElementException:
        Discount.append('-')

In [11]:
pd.set_option('display.max_colwidth',None)
Flipkart=pd.DataFrame()
Flipkart['product_tag']=Brand
Flipkart['desc_tag']=Product_description
Flipkart['price_tag']=Price
Flipkart['discount_tag']=Discount
Flipkart

,product_tag,desc_tag,price_tag,discount_tag
0,ROYAL SON,"UV Protection Round Sunglasses (50) (For Men & Women, Clear, Silver)",₹399,73% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasses (Free Size) (For Men & Women, Black)",₹426,78% off
2,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (Free Size) (For Men & Women, Black)",₹426,78% off
3,ROYAL SON,"UV Protection Over-sized Sunglasses (65) (For Women, Brown)",₹699,53% off
4,hipe,"Gradient, UV Protection Round Sunglasses (Free Size) (For Men & Women, Clear, Blue)",₹219,83% off
...,...,...,...,...
95,ROYAL SON,"UV Protection Retro Square Sunglasses (88) (For Men & Women, Blue)",₹479,76% off
96,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58) (For Men & Women, Black)",₹711,64% off
97,IDEE,"Gradient Aviator Sunglasses (58) (For Men & Women, Grey)","₹1,037",63% off
98,ROYAL SON,"UV Protection Retro Square Sunglasses (88) (For Men & Women, Clear)",₹569,71% off
99,ROYAL SON,"UV Protection Retro Square Sunglasses (49) (For Men & Women, Silver)",₹664,66% off

7. Scrape 100 reviews data from flipkart.com for iphone11 phone.
These are 1. Rating 2. Review_summary 3. Full review.
You have to scrape this data for first 100 reviews

In [23]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [81]:
Rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating=[]
for i in Rating:
    rating.append(i.text)
rating

['5', '5', '5', '5', '5', '4', '5', '5', '5', '5']

In [82]:
Review_summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review=[]
for i in Review_summary:
    review.append(i.text)
review

['Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny']

In [83]:
Full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review=[]
for i in Full_review:
    full_review.append(i.text)
full_review

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE']

In [84]:
iphone11a=pd.DataFrame()
iphone11a['Rating']=rating
iphone11a['Review_summary']=review
iphone11a['Full_review']=full_review
iphone11a

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,4,Good choice,So far it’s been an AMAZING experience coming ...
6,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
7,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
8,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
9,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

In [30]:
Rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating=[]
for i in Rating:
    rating.append(i.text)
rating

['5', '5', '5', '5', '4', '5', '5', '5', '5', '5']

In [31]:
Review_summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review=[]
for i in Review_summary:
    review.append(i.text)
review

['Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Highly recommended',
 'Nice product',
 'Terrific',
 'Highly recommended',
 'Wonderful',
 'Classy product',
 'Brilliant']

In [32]:
Full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review=[]
for i in Full_review:
    full_review.append(i.text)
full_review

["Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 'Really worth of money. i just love it. It is the best phone ever.',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE']

In [33]:
iphone11b=pd.DataFrame()
iphone11b['Rating']=rating
iphone11b['Review_summary']=review
iphone11b['Full_review']=full_review
iphone11b

,Rating,Review_summary,Full_review
0,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
1,5,Worth every penny,It’s been almost a month since I have been usi...
2,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,4,Nice product,Awesome Phone. Slightly high price but worth. ...
5,5,Terrific,Really worth of money. i just love it. It is t...
6,5,Highly recommended,It's my first time to use iOS phone and I am l...
7,5,Wonderful,This is my first ever I phone. Before this I w...
8,5,Classy product,Superb Product !!!\nA big and worthy upgrade f...
9,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."

In [41]:
Rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating=[]
for i in Rating:
    rating.append(i.text)
rating

['5', '5', '5', '5', '5', '5', '5', '5', '4', '4']

In [42]:
Review_summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review=[]
for i in Review_summary:
    review.append(i.text)
review

['Best in the market!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Very Good']

In [43]:
Full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review=[]
for i in Full_review:
    full_review.append(i.text)
full_review

['Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...\nREAD MORE',
 "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but...\nREAD MORE",
 'Best Quality Product OF iPhone Series , Sound Quality & Camera quality is very awesome, Battery Life is very Sufficient for 24 hr Backup With Full Internet Access , I love this this Product too much , It is very fast & making me Very fast in all my daily Routine\nHighlights;\n1.Camera: 5 STAR\n2.Video Recording: 5 star\n3.Night mODE sHOOTING & Camera:4 star\n4. Audio Quality: Awesome\n5. Battery : 5 Star\n6. Touch:5 Star\n7. Processor: Very Fast\nThe M...\nREAD MORE',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well.\n\nAnd I’m posting this review after using it for 4 days.',
 'Superfast delivery by Flipkart. Thanks.\n\n1. iPhone 11 is a pretty solid phone for the money you are paying.\n2. All the bad reviews about the display is confusing. It’s not that bad.\n3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation.\n4. Performance is one of the best, if not best, in ...\nREAD MORE',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 "Again back to apple iphone after a gap of 2-3 years. It's pleasure to use iOS and the quality product by Apple. Iphone 11 still works like a beast in 2021 also. It really capable of doing day to day usage as well as hard core gaming. Battery is awesome. I'm really too much satisfied with it. Apart fto the very gorgious IPS LCD (AMOLED will be better) everything is mind boggling. Iphone💕.",
 'Looking so good 👍 😍 super 👌 stylish 😎 phone\nClean box 📦 good 👍 delivery 👌 fast delivery\nOriginal box Original iphone 📱 👌 😍😍😍',
 'impressive super phone and best in class camera ,sound and face unlock is super fast just see and phone is unlock and fast in daily apps use']

In [44]:
iphone11d=pd.DataFrame()
iphone11d['Rating']=rating
iphone11d['Review_summary']=review
iphone11d['Full_review']=full_review
iphone11d

,Rating,Review_summary,Full_review
0,5,Best in the market!,Great iPhone very snappy experience as apple k...
1,5,Must buy!,Best Apple iPhone that i have bought at a very...
2,5,Fabulous!,I can say I'm damn impressed with iPhone 11. A...
3,5,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ..."
4,5,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...
5,5,Wonderful,Superfast delivery by Flipkart. Thanks.\n\n1. ...
6,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
7,5,Great product,Again back to apple iphone after a gap of 2-3 ...
8,4,Good choice,Looking so good 👍 😍 super 👌 stylish 😎 phone\nC...
9,4,Very Good,impressive super phone and best in class camer...

In [50]:
Rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating=[]
for i in Rating:
    rating.append(i.text)  
Review_summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review=[]
for i in Review_summary:
    review.append(i.text)
Full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review=[]
for i in Full_review:
    full_review.append(i.text)

In [51]:
iphone11e=pd.DataFrame()
iphone11e['Rating']=rating
iphone11e['Review_summary']=review
iphone11e['Full_review']=full_review
iphone11e

  Rating     Review_summary                                        Full_review
0      5   Perfect product!  Battery backup is extraordinary, camera is dec...
1      5     Classy product  Well while switching from android to iOS the f...
2      5   Perfect product!  In love with this iphone great performance,cam...
3      5          Just wow!  Best in class. Battery backup is good especial...
4      5            Awesome  Very excited to have this phone. This phone ha...
5      5           Terrific  I upgraded (downgraded?) from my iPhone X sinc...
6      5  Terrific purchase  Its Very awesome product working and good came...
7      5   Perfect product!  Best and amazing product.....phone looks so pr...
8      5          Brilliant  Excellent camera and display touching very nic...
9      5   Perfect product!  Awesome purchase. Amazing phone with good batt...

In [55]:
Rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating=[]
for i in Rating:
    rating.append(i.text)  
Review_summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review=[]
for i in Review_summary:
    review.append(i.text)
Full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review=[]
for i in Full_review:
    full_review.append(i.text)

In [59]:
iphone11g=pd.DataFrame()
iphone11g['Rating']=rating
iphone11g['Review_summary']=review
iphone11g['Full_review']=full_review
iphone11g

,Rating,Review_summary,Full_review
0,4,Good quality product,I'm switching this phone to oppo reno 10x zoom...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Worth the money’ starting first from its perfo...
3,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
4,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
5,5,Just wow!,Great iphone.\nI am writing this review after ...
6,5,Super!,Did an upgrade from 6s plus to iphone 11.\nAo ...
7,5,Perfect product!,It is just awesome mobile for this price from ...
8,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
9,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...

In [60]:
Rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating=[]
for i in Rating:
    rating.append(i.text)  
Review_summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review=[]
for i in Review_summary:
    review.append(i.text)
Full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review=[]
for i in Full_review:
    full_review.append(i.text)

In [61]:
iphone11h=pd.DataFrame()
iphone11h['Rating']=rating
iphone11h['Review_summary']=review
iphone11h['Full_review']=full_review
iphone11h

,Rating,Review_summary,Full_review
0,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
1,5,Must buy!,Damn this phone is a blast . Upgraded from and...
2,5,Must buy!,I rate this product 5* as it has got amazing u...
3,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
4,5,Excellent,Just go for it.\nThis phone is really amazing....
5,4,Good quality product,I was torn between the oneplus 8 pro and the i...
6,5,Awesome,I am using this phone for 5 days and its one o...
7,5,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...
8,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
9,5,Awesome,The phone is completely good\nAs far as camera...

In [62]:
Rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating=[]
for i in Rating:
    rating.append(i.text)  
Review_summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review=[]
for i in Review_summary:
    review.append(i.text)
Full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review=[]
for i in Full_review:
    full_review.append(i.text)

In [63]:
iphone11i=pd.DataFrame()
iphone11i['Rating']=rating
iphone11i['Review_summary']=review
iphone11i['Full_review']=full_review
iphone11i

,Rating,Review_summary,Full_review
0,3,Decent product,Everything u ll like it when u use this iPhone...
1,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
2,5,Super!,It's a great phone. From camera to display eve...
3,5,Super!,This is my first ever iPhone.\nAnd I truly don...
4,5,Awesome,Can’t beat the software and hardware integrati...
5,5,Excellent,Value for money product. This iphone 11 is rea...
6,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
7,5,Excellent,It was amazing experience for me. Honestly i a...
8,4,Wonderful,I genuinely liked it. One of the best mobile p...
9,4,Nice product,If you are looking for a premium phone under 5...

In [67]:
Rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating=[]
for i in Rating:
    rating.append(i.text)  
Review_summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review=[]
for i in Review_summary:
    review.append(i.text)
Full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review=[]
for i in Full_review:
    full_review.append(i.text)

In [68]:
iphone11j=pd.DataFrame()
iphone11j['Rating']=rating
iphone11j['Review_summary']=review
iphone11j['Full_review']=full_review
iphone11j

,Rating,Review_summary,Full_review
0,4,Good quality product,"Awesome camera, smooth and fast UI, display is..."
1,5,Wonderful,Nice value for money good and best price I pho...
2,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
3,5,Excellent,A perfect phone and a good battery super camer...
4,5,Classy product,We are on apple ecosystem for almost eight yea...
5,5,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...
6,3,Does the job,phone is good but in display is 720p lcd in th...
7,5,Fabulous!,Everything is perfect pictures come out so cle...
8,5,Awesome,I dreamt about this day from a long time.... G...
9,5,Classy product,Got my iPhone 11 today! It’s totally worth it ...

In [70]:
Rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating=[]
for i in Rating:
    rating.append(i.text)  
Review_summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review=[]
for i in Review_summary:
    review.append(i.text)
Full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review=[]
for i in Full_review:
    full_review.append(i.text)

In [71]:
iphone11k=pd.DataFrame()
iphone11k['Rating']=rating
iphone11k['Review_summary']=review
iphone11k['Full_review']=full_review
iphone11k

,Rating,Review_summary,Full_review
0,5,Super!,Good display in this phone however screen is L...
1,4,Pretty good,I've used this phone for over a month now and ...
2,5,Brilliant,"Wow wow and wow, in 48k you will not get anyth..."
3,5,Most Price worthy Iphone,Reviewing within 1st Month\n\n\n1st Month Revi...
4,5,Excellent,Seller - SuperComNet ( my trust in you has gro...
5,5,Terrific purchase,"Well , as we all know if its not an Iphone , i..."
6,5,Fabulous!,Product is nice at the deviled time the delive...
7,5,Worth every penny,iPhone is delivered on time. Display is great ...
8,5,Fabulous!,Just an awesome phone...upgraded from 6s to 11...
9,4,Value-for-money,As usual a great product from Apple. but the l...

In [72]:
Rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
rating=[]
for i in Rating:
    rating.append(i.text)  
Review_summary=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review=[]
for i in Review_summary:
    review.append(i.text)
Full_review=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review=[]
for i in Full_review:
    full_review.append(i.text)

In [73]:
iphone11l=pd.DataFrame()
iphone11l['Rating']=rating
iphone11l['Review_summary']=review
iphone11l['Full_review']=full_review
iphone11l

,Rating,Review_summary,Full_review
0,5,Super!,Good display in this phone however screen is L...
1,4,Pretty good,I've used this phone for over a month now and ...
2,5,Brilliant,"Wow wow and wow, in 48k you will not get anyth..."
3,5,Most Price worthy Iphone,Reviewing within 1st Month\n\n\n1st Month Revi...
4,5,Excellent,Seller - SuperComNet ( my trust in you has gro...
5,5,Terrific purchase,"Well , as we all know if its not an Iphone , i..."
6,5,Fabulous!,Product is nice at the deviled time the delive...
7,5,Worth every penny,iPhone is delivered on time. Display is great ...
8,5,Fabulous!,Just an awesome phone...upgraded from 6s to 11...
9,4,Value-for-money,As usual a great product from Apple. but the l...

In [86]:
df=pd.concat([iphone11a,iphone11b,iphone11d,iphone11e,iphone11g,iphone11h,iphone11i,iphone11j,iphone11k,iphone11l],ignore_index=True)
df

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Terrific purchase,"Well , as we all know if its not an Iphone , i..."
96,5,Fabulous!,Product is nice at the deviled time the delive...
97,5,Worth every penny,iPhone is delivered on time. Display is great ...
98,5,Fabulous!,Just an awesome phone...upgraded from 6s to 11...
99,4,Value-for-money,As usual a great product from Apple. but the l...

8. Scrape data for first 100 sneakers you find when you visit flipkart.com and 
search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker :1. Brand 2. Product Description 3. Price 4. discount %

In [26]:
url='https://www.flipkart.com/'
driver.get(url)

In [27]:
search_product=driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_product.send_keys('Sneakers')

In [29]:
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [30]:
flip_pages=[]
for page in range(1,4,1):
    page_url='https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off' +str(page)
    driver.get(page_url)
    flip_pages.append(page_url)
flip_pages

['https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off1',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off2',
 'https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off3']

In [31]:
urls=[]
for i in flip_pages:
    for j in driver.find_elements_by_xpath("//a[@class='_2UzuFa']"):
        try:
            urls.append(j.get_attribute('href'))
        except NoSuchElementException:
            urls.append('-')
len(urls)

120

In [32]:
Brand=[]
Product_description=[]
Price=[]
Discount=[]

for i in urls[:100]:
    driver.get(i)
    time.sleep(3)
    
    try:
        product_tag=driver.find_element_by_xpath("//span[@class='G6XhRU']")
        Brand.append(product_tag.text)
    except NoSuchElementException:
        Brand.append('-')
        
    try:
        desc_tag=driver.find_element_by_xpath("//span[@class='B_NuCI']")
        Product_description.append(desc_tag.text)
    except NoSuchElementException:
        Product_description.append('-')
        
    try:
        price_tag=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        Price.append(price_tag.text)
    except NoSuchElementException:
        Price.append('-')
        
    try:
        discount_tag=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        Discount.append(discount_tag.text)
    except NoSuchElementException:
        Discount.append('-')
print(len(Brand))        
print(len(Product_description))
print(len(Price))
print(len(Discount))

100
100
100
100

In [34]:
BRAND_NAME = pd.DataFrame(Brand,columns=['Brand_Name'])
BRAND_NAME
DESCRIPTION = pd.DataFrame(Product_description,columns=['Description'])
DESCRIPTION
PRICE_RS = pd.DataFrame(Price,columns=['Price'])
PRICE_RS
DISCOUNT_PERCENTAGE = pd.DataFrame(Discount,columns=['Discount'])
DISCOUNT_PERCENTAGE


pd.set_option('display.max_colwidth', None)
FLIPKART_Sneakers = pd.concat([BRAND_NAME,DESCRIPTION,PRICE_RS,DISCOUNT_PERCENTAGE],axis=1)
FLIPKART_Sneakers

,Brand_Name,Description,Price,Discount
0,Birde,Casual Shoes Sneakers For Men (Multicolor),₹293,70% off
1,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers For Men (Multicolor),₹499,75% off
2,India hub,Fashionable casual sneakers shoes Sneakers For Men (Black),₹389,87% off
3,PEHANOSA,Sneakers For Men (Multicolor),₹499,50% off
4,CALCADOS,Modern Trendy Shoes Combo pack of 4 Sneakers For Men (Multicolor),₹748,62% off
...,...,...,...,...
95,AMICO,Designer Printed Casual Sneakers Shoes Sneakers For Men (Black),₹474,52% off
96,Numenzo,Sneakers For Men (White),₹398,60% off
97,PUMA,Corode IDP Sneakers For Men (Green),"₹1,316",67% off
98,KULP,heart beat Sneakers For Men (White),₹399,60% off
99,Echor,shoes for boys Sneakers For Men (Multicolor),₹599,40% off

9. : Go to the link - https://www.myntra.com/shoes.
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in 
the below image. And then scrape First 100 shoes data you get. The data should include “Brand” of 
the shoes , Short Shoe description, price of the shoe as shown in the below image

In [4]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [8]:
flip_pages=[]
for page in range(1,3,1):
    page_url="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0" +str(page)
    driver.get(page_url)
    flip_pages.append(page_url)
flip_pages

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.01',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.02']

In [17]:
page_urls=[]
nxt_page = driver.find_elements_by_xpath("//li[@class='pagination-number']/a")

for i in nxt_page:

    page_urls.append(i.get_attribute('href'))
nxt_page

[<selenium.webdriver.remote.webelement.WebElement (session="a8cf482319191570cc943600eef07ced", element="c12616f4-3fb1-4dfd-a18f-d120f096d182")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8cf482319191570cc943600eef07ced", element="b5292ffd-5c01-4388-8689-805fb85490f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8cf482319191570cc943600eef07ced", element="df39df8e-a777-4b31-9aa3-be68084716a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8cf482319191570cc943600eef07ced", element="e30ef0c4-35ba-4164-818f-40793cba40b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8cf482319191570cc943600eef07ced", element="d83b14c1-b834-41dd-a25a-a243201b8796")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8cf482319191570cc943600eef07ced", element="04ea6dbd-c75b-4548-9cda-42b108d3501d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8cf482319191570cc943600eef07ced", element="fad468ba-205a-4bcc-944e-88f9650257f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8cf482319191570cc943600eef07ced", element="3858b4ce-d24c-466e-8334-81cd57e1a609")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a8cf482319191570cc943600eef07ced", element="702b27b3-c148-4807-a405-6c1c2d576ce4")>]

In [18]:
shoe_names=[]
for url in page_urls[:3]:

    driver.get(url)

    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")  #for scrapping shoe brand names

    for i in Names:

        shoe_names.append(i.text)

In [19]:
Price=[]
for url in page_urls[:10]:
    driver.get(url)
    price=driver.find_elements_by_xpath("//span[@class='product-discountedPrice']") 
    for i in price:
        Price.append(i.text)

In [22]:
Desc=[]
for url in page_urls[:2]:
    driver.get(url)
    Description=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in Description:
         Desc.append(i.text)
len(Desc)

100

I was not able to fetch description even after trying every possibility.

In [23]:
Myntra=pd.DataFrame()
Myntra['Names']=shoe_names[0:100]
Myntra['price']=Price[0:100]
Myntra['Description']=Desc[0:100]
Myntra

                   Names      price                       Description
0                   FILA   Rs. 7649                 Men Running Shoes
1    KIPRUN By Decathlon   Rs. 7006               Women Running Shoes
2              J.FONTINI   Rs. 7799         Men Leather Formal Derbys
3   Quechua By Decathlon   Rs. 7039                Men Trekking Shoes
4                 ADIDAS   Rs. 7465          Women Edge Lux 4 Running
..                   ...        ...                               ...
95  Heel & Buckle London   Rs. 9303         Men Penny Leather Loafers
96                  ALDO   Rs. 7192  Men Solid Leather Formal Oxfords
97           Birkenstock   Rs. 7343       Madrid Oiled Open Toe Flats
98          Hush Puppies   Rs. 7413                Men Leather Derbys
99               Bugatti  Rs. 10121   Men Solid Leather Formal Derbys

[100 rows x 3 columns]

10. Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the 
below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes 
for each laptop:
1. title
2. Ratings
3. Price

In [3]:
url='https://www.amazon.in/'
driver.get(url)

In [4]:
Title=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
title=[]
for i in Title:
    title.append(i.text)
title[0:10]

['Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 inch Full HD IPS Thin and Light Laptop (8GB/512GB SSD/Windows 10/MS Office 2019/NVIDIA MX350 2GB GDDR5 Graphics/Slate Grey/1.55Kg), 82A1009KIN',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.56cms) Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Fingerprint Reader/Slate Grey/Aluminium Surface/1.43Kg), 82BH004HIN',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'HP Omen 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (i7-10750H/16GB/1TB SSD/Windows 10/300 Nits/300 Hz/NVIDIA RTX 2060 6GB/Shadow Black/2.36 kg), 15-ek0021TX',
 'Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7 15.6-inch FHD IPS Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6/with M100 RGB Gaming Mouse/Onyx Black/2.2Kg), 81Y400VAIN',
 'MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39.6 cm) IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1660 Ti 6GB GDDR6/Black/1.86Kg), 10SDR-1280IN',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN']

In [42]:
Ratings=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span')
ratings=[]
for i in Ratings:
    ratings.append(i.get_attribute('aria-label'))
ratings[0::2][0:10]

['3.2 out of 5 stars',
 '4.6 out of 5 stars',
 '4.4 out of 5 stars',
 '4.5 out of 5 stars',
 '3.8 out of 5 stars',
 '4.0 out of 5 stars',
 '3.4 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '3.0 out of 5 stars']

In [9]:
Price=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
price=[]
for i in Price:
    price.append(i.text)
price[0:10]

['83,000',
 '97,990',
 '54,999',
 '84,990',
 '78,990',
 '86,990',
 '1,31,990',
 '77,990',
 '90,733',
 '90,240']

In [44]:
Laptop=pd.DataFrame()
Laptop['Title']=title[0:10]
Laptop['Ratings']=ratings[0::2][0:10]
Laptop['Price']=price[0:10]
Laptop

,Title,Ratings,Price
0,Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...,3.2 out of 5 stars,"83,000"
1,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...",4.6 out of 5 stars,"97,990"
2,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.4 out of 5 stars,"54,999"
3,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.5 out of 5 stars,"84,990"
4,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...",3.8 out of 5 stars,"78,990"
5,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,4.0 out of 5 stars,"86,990"
6,HP Omen 10th Gen Intel Core i7 Processor 15.6-...,3.4 out of 5 stars,"1,31,990"
7,Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...,4.3 out of 5 stars,"77,990"
8,"MSI GF65 Thin, Intel i7-10750H, 15.6"" FHD (39....",4.2 out of 5 stars,"90,733"
9,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,3.0 out of 5 stars,"90,240"